<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd" >
		
		<!-- 导入框架文件 -->
		<import resource="context/applicationContext-dao.xml"/>
		<import resource="context/applicationContext-service.xml"/>
		<import resource="context/applicationContext-tx.xml"/>
		
		<!-- 导入用户文件 -->
		<import resource="context/context-stu.xml"/>
</beans>